.nav-bar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.486);
  width: 100%;
  // min-height: 10vh;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  .title {
    flex: 1;
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
  ul.area {
    flex: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      margin: 0.4rem;
      padding: 5px;
      &.active {
        background-color: rgba(0, 0, 0, 0.411);
      }
    }
    a {
      text-decoration-line: none;
      color: white;
      font-size: 1.3rem;
    }
  }
}
